[submodule "plugins/DixlaseDevKit"]
	path = plugins/DixlaseDevKit
	url = https://github.com/Dixlase/plugin-dixlase-devkit.git

[submodule "plugins/DixlaseInquiry"]
	path = plugins/DixlaseInquiry
	url = https://github.com/Dixlase/plugin-dixlase-inquiry.git

[submodule "plugins/DixlaseLegal"]
	path = plugins/DixlaseLegal
	url = https://github.com/Dixlase/plugin-dixlase-legal.git

[submodule "plugins/DixlaseMenus"]
	path = plugins/DixlaseMenus
	url = https://github.com/Dixlase/plugin-dixlase-menus.git

[submodule "plugins/DixlaseOfficialDocs"]
	path = plugins/DixlaseOfficialDocs
	url = https://github.com/Dixlase/plugin-dixlase-official-docs.git

[submodule "plugins/DixlasePages"]
	path = plugins/DixlasePages
	url = https://github.com/Dixlase/plugin-dixlase-pages.git

[submodule "plugins/DixlaseSEO"]
	path = plugins/DixlaseSEO
	url = https://github.com/Dixlase/plugin-dixlase-seo.git

[submodule "plugins/DixlaseUsers"]
	path = plugins/DixlaseUsers
	url = https://github.com/Dixlase/plugin-dixlase-users.git

[submodule "themes/DixlaseOnePage"]
	path = themes/DixlaseOnePage
	url = https://github.com/Dixlase/theme-dixlase-onepage.git
[submodule "plugins/DixlaseCoreDevKit"]
	path = plugins/DixlaseCoreDevKit
	url = https://github.com/Dixlase/plugin-dixlase-core-devkit.git
