.translate-x-minus-full {
    transform: translateX(-100%) !important;
}


.translate-x-150per {
    transform: translateX(150%) !important;
}

.translate-x-minus-64 {
    transform: translateX(-16rem) !important;
}

.translate-x-100vw-16 {
    transform: translateX(calc(100vw - 16rem)) !important;
}

.translate-x-100vw-puls50 {
    transform: translateX(calc(100vw + 50%)) !important;
}

.translate-x-100vw {

    transform: translateX(calc(100vw)) !important;
}

.top-21 {
    top: 5.25rem !important;
}

.top-22 {
    top: 5.5rem !important;
}


[x-cloak] {
    display: none !important;
}

@layer base {
    [x-cloak] {
        display: none !important;
    }
}